
build-FindSmallest-Qt_6_2_2_for_macOS-Debug/.qmake.stash
build-FindSmallest-Qt_6_2_2_for_macOS-Debug/FindSmallest
build-FindSmallest-Qt_6_2_2_for_macOS-Debug/main.o
build-FindSmallest-Qt_6_2_2_for_macOS-Debug/Makefile
FindSmallest/FindSmallest.pro
FindSmallest/main.cpp
